html, body, .expand {
  height: 100%;
  margin: 0;
}

#root > .flex {
  display: flex;
}

#blocks {
  flex-grow: 1;
  width: 50%;
}

#worldview {
  flex-grow: 1;
  width: 50%;
  position: relative;
}

#worldview > * {
  position: absolute;
  margin: 0;
  padding: 0;
}
