html {
  background: #333;
}

button {
  background-color: #fff;
}

html, body, .expand {
  height: 100%;
  margin: 0;
}

#root > .flex {
  display: flex;
}

#blocks {
  flex-grow: 1;
  width: 50%;
}

#worldview {
  flex-grow: 1;
  width: 50%;
  position: relative;
}

#worldview > * {
  position: absolute;
  margin: 0;
  padding: 0;
}

.injectionDiv .blocklySvg {
  background-color: #f9f9f922;
}

.injectionDiv .blocklyFlyoutBackground,
.injectionDiv .blocklyToolboxDiv {
  background-color: #f9f9f9cc;
}


.injectionDiv .scratchCategoryMenu {
  background: none;
}

.injectionDiv .scratchCategoryMenuItem.categorySelected {
  background-color: #f9f9f922;
}
